p {
    border-top: 22px solid gold;
    border-left: 22px solid silver;
    border-right: 22px solid silver;
    border-bottom: 22px solid gold;
    margin: 15px;
    padding: 20px;
    width: 20%;
    background: linear-gradient(lightblue, white, lightblue);
 }